.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  input[type='email'],
  input[type='password'] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  
  button[type='submit'] {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: blue;
    color: white;
    cursor: pointer;
    border: none;
  }
  