.login {
    position: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.formControl {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
    height: 40px;
}

.label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.input {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #cccccc;
    width: 100%;
}

.submitButton {
    background-color: #e05f75;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #000000;
}

.formContainer {
    background-color: #ff0000;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    height: 300px;
    color: rgb(0, 0, 0);
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContainer h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: rgb(190, 22, 22);
}

.externalLogin {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.externalLogin a {
    display: inline-block;
    margin-right: 10px;
}

.externalLogin img {
    width: 30px;
    height: 30px;
}

.registerLink {
    text-align: center;
    margin-top: 20px;
}

.registerLink p {
    font-size: 14px;
    color: #ffffff;
}

.registerLink a {
    color: #ff0000;
    text-decoration: none;
}